In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Quintin,MX,2021-04-17 21:28:43,30.4833,-115.9500,63.43,64,0,16.35
1,1,Kapaa,US,2021-04-17 21:28:44,22.0752,-159.3190,73.40,68,75,11.50
2,2,Ancud,CL,2021-04-17 21:28:44,-41.8697,-73.8203,64.40,68,75,5.84
3,3,Yellowknife,CA,2021-04-17 21:28:45,62.4560,-114.3525,36.00,60,75,6.91
4,4,Kaka,TM,2021-04-17 21:28:45,37.3482,59.6143,65.35,37,7,4.83

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2021-04-17 21:28:46,-23.1203,-134.9692,77.23,68,97,8.75
6,6,Puerto Ayora,EC,2021-04-17 21:26:24,-0.7393,-90.3518,81.00,94,90,4.61
9,9,Atuona,PF,2021-04-17 21:28:47,-9.8000,-139.0333,80.31,76,46,18.92
11,11,Key West,US,2021-04-17 21:25:41,24.5557,-81.7826,82.40,65,20,4.61
22,22,Bengkulu,ID,2021-04-17 21:24:17,-3.8004,102.2655,75.09,87,100,3.29
24,24,Yanam,IN,2021-04-17 21:28:52,16.7333,82.2167,77.22,86,0,2.64
30,30,Vaini,TO,2021-04-17 21:28:55,-21.2000,-175.2000,77.00,73,20,10.36
32,32,Butaritari,KI,2021-04-17 21:28:55,3.0707,172.7902,82.26,76,100,7.45
34,34,Carnarvon,AU,2021-04-17 21:28:56,-24.8667,113.6333,76.14,65,1,5.30
43,43,Ponnani,IN,2021-04-17 21:29:00,10.7670,75.9252,77.00,88,20,2.30

In [12]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [13]:
# Create a DataFrame called hotel_df to store hotel names along with the city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5        Rikitea      PF     77.23 -23.1203 -134.9692
6   Puerto Ayora      EC     81.00  -0.7393  -90.3518
9         Atuona      PF     80.31  -9.8000 -139.0333
11      Key West      US     82.40  24.5557  -81.7826
22      Bengkulu      ID     75.09  -3.8004  102.2655
24         Yanam      IN     77.22  16.7333   82.2167
30         Vaini      TO     77.00 -21.2000 -175.2000
32    Butaritari      KI     82.26   3.0707  172.7902
34     Carnarvon      AU     76.14 -24.8667  113.6333
43       Ponnani      IN     77.00  10.7670   75.9252

In [20]:
# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,77.23,-23.1203,-134.9692,Pension Maro'i
6,Puerto Ayora,EC,81.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Atuona,PF,80.31,-9.8000,-139.0333,Villa Enata
11,Key West,US,82.40,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
22,Bengkulu,ID,75.09,-3.8004,102.2655,Grage Hotel Bengkulu
24,Yanam,IN,77.22,16.7333,82.2167,The Regency Hotel
30,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort
32,Butaritari,KI,82.26,3.0707,172.7902,Isles Sunset Lodge
34,Carnarvon,AU,76.14,-24.8667,113.6333,Hospitality Carnarvon
43,Ponnani,IN,77.00,10.7670,75.9252,Rouba Residency

In [23]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))